.back-button {
  padding: .5rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.back-button:hover {
  color: white;
  background-color: #42545C;
}

.date-time {
  background-color: #ffff66;
}

.product {
  background-color: #b3e6ff;
}
