<h2>Product History</h2>

<div *ngFor="let item of history" class="flex">
  <div class="spaced inline">
    <div class="date-time padded rounded-top font-normal width-limited">
      {{ item.lastUpdated }}
    </div>
    <div class="product-property width-limited">
      <span class="font-normal labelled padded rounded-bottom-right">Name</span>
      <span class="font-normal padded">{{ item.name | uppercase }}</span>
    </div>
    <div class="product-property width-limited">
      <span class="font-normal labelled padded rounded-right">Price</span>
      <span class="font-normal padded">${{ item.price }}</span>
    </div>
    <div class="product-property width-limited">
      <span class="font-normal labelled padded rounded-right">Type</span>
      <span class="font-normal padded">{{ item.type.toString() | titlecase }}</span>
    </div>
    <div class="product-property rounded-bottom width-limited">
      <span class="font-normal labelled padded rounded-top-right">Active</span>
      <span class="font-normal padded">{{ item.active ? 'True' : 'False' }}</span>
    </div>
  </div>
</div>

<button type="button" class="back-button" (click)="goToProducts()">
  Back
</button>
