<h2>{{actionText}} Product</h2>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Product name: </mat-label>
    <input type="text" matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher"
           value="{{product.id > 0 ? product.name : ''}}"
           #productName
           placeholder="Name of product">
    <mat-hint>Valid</mat-hint>
    <mat-error *ngIf="nameFormControl.hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <label for="new-product-price">Product price: </label>
  <input id="new-product-price" #productPrice value="{{product.id > 0 ? product.price.toString() : ''}}" />

  <mat-form-field appearance="fill">
    <mat-label>Product price: </mat-label>
    <input type="text" matInput [formControl]="priceFormControl" [errorStateMatcher]="matcher"
           value="{{product.id > 0 ? product.price : '0'}}"
           #productPrice
           placeholder="Name of product">
    <mat-hint>Valid</mat-hint>
    <mat-error *ngIf="priceFormControl.hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Product type: </mat-label>
    <mat-select #productType>
      <mat-option value="toys">Toys</mat-option>
      <mat-option value="food">Food</mat-option>
      <mat-option value="electronics">Electronics</mat-option>
      <mat-option value="furniture">Furniture</mat-option>
      <mat-option value="books">Books</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Product active: </mat-label>
    <mat-slide-toggle #productActive
                      color="accent"
                      checked="{{product.active ? 'checked' : 'unchecked'}}">
    </mat-slide-toggle>
  </mat-form-field>

  <button type="button" class="add-button" (click)="addOrEdit(productName.value, productPrice.value, productType.value, productActive.checked.toString()); productName.value=''; productPrice.value=''; productType.value=''; productActive.checked=false;">
    {{actionText}} product
  </button>
</div>
