<h2>{{actionText}} Product</h2>

<div>
  <label for="new-product-name">Product name: </label>
  <input id="new-product-name" type="text" required lengthValidator [(ngModel)]="product.name" #productName="ngModel" value="{{product.id > 0 ? product.name : ''}}" />

  <div *ngIf="productName.invalid && (productName.dirty || productName.touched)"
       class="alert">
    <div *ngIf="productName.errors?.['required']">
      Name is required.
    </div>
    <div *ngIf="productName.errors?.['lengthInvalid']">
      Name can not exceed 100 characters.
    </div>
  </div>

  <label for="new-product-price">Product price: </label>
  <input id="new-product-price" type="number" required currencyValidator [(ngModel)]="product.price" #productPrice="ngModel" value="{{product.id > 0 ? product.price.toString() : ''}}" />

  <div *ngIf="productPrice.invalid && (productPrice.dirty || productPrice.touched)"
       class="alert">
    <div *ngIf="productPrice.errors?.['required']">
      Price is required.
    </div>
    <div *ngIf="productPrice.errors?.['currencyInvalid']">
      Price may contain at most 2 decimal places.
    </div>
  </div>

  <label for="new-product-type">Product type: </label>
  <select id="new-product-type" #productType>
    <option #toysOption value="toys" [selected]="product.type.toString().toUpperCase() == toysOption.value.toUpperCase()">Toys</option>
    <option #foodOption value="food" [selected]="product.type.toString().toUpperCase() == foodOption.value.toUpperCase()">Food</option>
    <option #electronicsOption value="electronics" [selected]="product.type.toString().toUpperCase() == electronicsOption.value.toUpperCase()">Electronics</option>
    <option #furnitureOption value="furniture" [selected]="product.type.toString().toUpperCase() == furnitureOption.value.toUpperCase()">Furniture</option>
    <option #booksOption value="books" [selected]="product.type.toString().toUpperCase() == booksOption.value.toUpperCase()">Books</option>
  </select>

  <label class="toggle-label" for="new-product-active">Product active: </label>
  <label class="switch">
    <input id="new-product-active" #productActive type="checkbox" [checked]="product.active">
    <span class="slider round"></span>
  </label>

  <button type="button" class="add-button" (click)="addOrEdit(productName.value, productPrice.value, productType.value, productActive.value)" *ngIf="(!(productName.invalid && (productName.dirty || productName.touched))) && (!(productPrice.invalid && (productPrice.dirty || productPrice.touched)))">
    {{actionText}} product
  </button>
</div>
